<!DOCTYPE html>
<html>
  <head>
    <title>List Books</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>List Books</h1>
   <div> 
   <% books.forEach(book => { %>
      <h3><%= book.title %></h3>   
      <h3><%= book.pages %></h3>
    <% }) %>
   </div>
  </body>
</html>